* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
}

#header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/axlBack.JPG);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#headerNoBkg {
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.container {
    padding: 10px 10%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Abtcontainer {
    padding: 10px 5%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #262626;
    border-radius: 25px;
    margin: 10px 10%;
}

/*Main Text*/
.header-text {
    margin-top: 20%;
    margin-left: 10%;
    font-size: 30px;
    animation: slideIn 1s ease-in both;
    align-items: center;
    justify-content: center;
}

.header-text p {
    animation: bounce 1s ease-in-out 1.2s;
    animation-delay: 3s;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 1s ease-in 1s both;
}

.header-text span {
    color: #FFD700;
}

/*About*/
#About {
    padding-top: 40px;
    color: #ababab;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b2929;
}

.Conrow {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

#axlBird {
    position: relative;
}

.about-col-1 {
    flex-basis: 35%;
    justify-content: center;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    word-wrap: break-word;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.eduTittle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.eduTittle h1 {
    margin: 10px 0;
}

.univEdu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.CCEdu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subtitle {
    font-size: 80px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.abtText {
    font-size: 60px;
    text-align: center;
}

.education div p {
    margin-left: 10px;
}

.deg {
    font-size: 15px;
    margin: 0;
}

/* skill section */
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    position: relative;
}

.skillTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 4px;
    background-color: #FFD700;
    transition: .5s;
}

.imgCont {
    transition: all .5s;
}

.skillBox:hover .imgCont {
    transform: translateY(-10px);
}

.skillBox:hover>.skillTitle::after {
    width: 35px;
}

.img {
    width: 100px;
    height: 100px;
    position: relative;
}

/*Services*/
.services {
    padding: 30px 0px;
    background-color: #4b2929;
}

.servHeader {
    display: flex;
    color: #FFF;
    justify-content: center;
    text-align: center;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
}

.services-list i {
    font-size: 50px;
    margin-bottom: 10px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #FFD700;
    transform: translateY(-10px);
}

/*Portfolio*/
.projectContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin-top: 50px;
    margin: 50px 10%;
    align-items: center;
    justify-items: center;
    position: relative;
    gap: 10px;
}

.proCont {
    padding-top: 5%;
    padding-bottom: 2%;
    background-image: url(images/bkg.jpg);
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #262626;
    padding: 20px;
    border-radius: 5%;
    align-items: center;
    transition: 0.5s, transform 0.5s;
}

.item:nth-child(even):before,
.item:nth-child(odd):before {
    content: '';
    width: 3em;
    height: 3px;
    background: #FFF;
    position: absolute;
    top: 18%;
}

.item:nth-child(odd) {
    border: 3px solid;
}

.item:nth-child(even) {
    border: 3px solid;
}

.item:hover {
    background: #FFD700;
    transform: translateY(-10px);
}

#windT {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.middleLine {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #ccc;
}

.btn {
    background-color: transparent;
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #FFD700;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
}

.btn:hover {
    background: #FFD700;
    color: #262626;
}

.conBtn {
    background-color: transparent;
    display: block;
    width: fit-content;
    border: 1px solid #FFD700;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.5s;
}

.conBtn:hover {
    transform: translateY(-10px);
    background-color: #FFD700;
    color: #4b2929;
    border-color: #4b2929;
}


#skillUsed{
    height: 30px;
    width: 30px;
    margin-inline: 5px;
}
.skillUsedCon{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.proContain{
    text-decoration: none;
    color: #FFF;
}
/*Contact*/
.contact {
    padding: 3% 0;
    background-color: #4b2929;
}

.contact-left {
    flex-basis: 35%;
    align-items: center;
    text-align: center;
}

.contact-right {
    flex-basis: 60%;
}


.contact-left p i {
    color: #FFD700;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    transition: transform(0.5s);
    display: inline-block;
    color: #ababab;
    margin-bottom: 16px;
}

.social-icons a:hover {
    color: #FFD700;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #FFD700;
    color: #000;
}

.contact-right form {
    width: 100%;
}

.conLab {
    text-decoration: none;
    color: #fff;
}

.conLab:hover {
    color: #FFD700;
    transform: translateY(-10px);
}

/* scroll animation */
.hidden {
    opacity: 0;
    transition: all 3s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden2:nth-child(odd) {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(100%);
}

.show2:nth-child(odd) {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden2:nth-child(even) {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show2:nth-child(even) {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden3 {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: opacity(0);
    transform: translateX(-100px);
}

.show3 {
    opacity: 1;
    filter: blur(0);
    transform: opacity(100%);
    transform: translateX(0px);
}


.sub-title{
    animation: bounce 2s ease-in infinite;
}

@keyframes slideIn {
    0% {
        transform: translateX(-300px);
    }

    100% {
        transform: translateX(-0px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

/**********Mobile CSS*************/
@media only screen and (max-width: 642px) {
    .Conrow {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    #header {
        background-image: url(images/axlBackmobile.jpg);
    }

    .header-text h1 {
        font-size: 20px;
    }

    .subtitle {
        font-size: 30px;
        font-weight: 600;
        color: white;
    }

    .contact-left,
    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .abtText {
        font-size: 15px;
    }

    .projectContainer {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        overflow: hidden;
    }

    .row {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .nothing {
        display: none;
    }

    .proCont {
        background-attachment: fixed;
        background-size: auto;
    }

    #header {
        background-attachment: scroll;
    }

    .about-col-2 {
        font-size: 20px;
    }
}

/**********big phone CSS*************/
@media only screen and (min-width: 643px) and (max-width: 900px) {
    .abtText {
        font-size: 13px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .subtitle {
        font-size: 30px;
        font-weight: 600;
        color: white;
    }

    #header {
        background-image: url(images/axlBackmobile.jpg);
    }

    .contact-left,
    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-col-2 {
        font-size: 20px;
    }
}


/**********Tablet CSS*************/
@media only screen and (min-width: 900px) and (max-width: 1300px) {
    #header {
        background-image: url(images/axlBackmobile.jpg);
    }

    .header-text h1 {
        font-size: 30px;
    }

    .subtitle {
        font-size: 50px;
        font-weight: 600;
        color: white;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
        font-size: 20px;
        /* Make both columns take up 100% width */
    }

    .abtText {
        font-size: 15px;
    }
}

/**********Screen CSS*************/
@media only screen and (min-width: 1301px) and (max-width: 1630px) {
    #header {
        background-image: url(images/axlBackmobile.jpg);
    }

    .abtText {
        font-size: 20px;
    }

    .subtitle {
        font-size: 50px;
        font-weight: 600;
        color: white;
    }
}

@media only screen and (min-width: 1630px) and (max-width: 2200px) {
    .abtText {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1040px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (min-width: 1800px) {
    #windT {
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-aspect-ratio: 16/9) {

    #header {
        background-size: contain;
        background-position: center center;
    }
}