* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color:black;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
}
.abtSec{
    color: white;
    text-align: center; /* Center-align text if necessary */
    padding: 20px; /* Add padding for spacing around the content */
    background-color: rgba(0, 0, 0, 0.5);
}